html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #eee;
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;

    & * {
        user-select: none;
    }
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.game-container {
    width: 100%;
}

.grid {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);

    &-cell {
        border: 1px solid black;
        display: flex;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        justify-content: center;

        &--2 {
            background-color: #67fa57;
        }
        &--4 {
            background-color: #30fc33;
        }
        &--8 {
            background-color: #55e900;
        }
        &--16 {
            background-color: #8ce900;
        }
        &--32 {
            background-color: #cee900;
        }
        &--64 {
            background-color: #e9ce00;
        }
        &--128 {
            background-color: #e9ab00;
        }
        &--256 {
            background-color: #e99000;
        }
        &--512 {
            background-color: #e97100;
        }
        &--1024 {
            background-color: #e92f00;
        }
        &--2048 {
            background-color: #e90000;
            color: white;
        }
    }
}

@media (orientation: portrait) {
    .game-container {
        padding: 16px;
    }

    .grid {
        width: auto;
        height: auto;
        aspect-ratio: 1 / 1;
    }
}